= form_for @registration do |f|
  - if @registration.errors.any?
    #error_explanation
      %h2= "#{pluralize(@registration.errors.count, "error")} prohibited this registration from being saved:"
      %ul
        - @registration.errors.full_messages.each do |msg|
          %li= msg

  /html5 regex tester
  .field
    = f.label :test_pattern
    = text_field_tag :test, '', pattern: "[a-z]+"
    = f.label '(Just for testing Regex)'
    %span.nameError
  .field
    = f.label :name
    = f.text_field :name
    = f.label '(Client)'
    %span.nameError
  .field
    = f.label :email
    = f.text_field :email
    = f.label '(Server)'
  .field
    = f.label :comment
    = f.label '(Database)'
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
    %hr
    = f.text_area :comment,  class: 'paper'

