%p#notice= notice
.well
  %p
    %b Name:
    = @registration.name
  %p
    %b Email:
    = @registration.email
  %p
    = link_to 'Go To Company', (@registration.company || '#'), class: 'btn btn-info'
    \|
    = link_to 'Clean Bad Words', clean_path(id: @registration.id), class: 'btn btn-primary'

.well
  %h4 Comment:
  %p.paper
    =  @registration.comment

